tr{
  height: 40px !important;

}
th{
  max-width: 125px;
  min-width: 125px;
  padding: 0 !important;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center !important;

}
td{
  height: 40px !important;
  padding: 5px !important;
  text-align: center !important;
  
}

.searchbar{
  width:99%;
  font-size: 18px;
  border-style: none;
  border: none;
  margin: 10px;
  position: sticky!important;
  padding: 0 !important;
  overflow-x: auto;
  /* box-shadow: 1px 4px 5px rgba(12,12,12,0.2); */
  border-radius: 5px;
  margin-bottom: 5px;
}